.body_h {
    height: 100vh;
    background: linear-gradient(powderblue, beige);
}

.header{
    background-color: #a3d6dc;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth{
    color: whitesmoke;
    font-size: 20px;
    text-decoration-line: underline;
    margin-right: 5vh;
}

.login {
    color: whitesmoke;
    font-size: 20px;
    margin-right: 5vh;
    margin-left: 5vh;
}

.role {
    color: whitesmoke;
    font-size: 20px;
}

.home{
    display: flex;
}

